body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f7f9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    min-height: 100px;
    width: 80%;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

.item {
    padding: 20px 30px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 8px;
    cursor: grab;
    user-select: none; /* テキスト選択を防ぐ */
}

/* ドラッグ中のスタイル */
.item.dragging {
    opacity: 0.5;
    background: #cde;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

#status-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

#mistake-counter {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffdd57; /* 黄色 */
}

.buttons {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

#check-button { background-color: #007bff; color: white; }
#next-button { background-color: #28a745; color: white; }
#restart-button { background-color: #ffc107; color: #333; }

button:hover {
    opacity: 0.9;
}
